In [1]:
import numpy as np 
import pandas as pd 
import warnings

warnings.simplefilter(action='ignore')

In [2]:
df = pd.read_csv(r'C:\Users\Ratnadeep Gawade\Desktop\python\Machine Learning\Data Set\Projects\CSVForDate.csv')
df.head()

                 Date      Open      High       Low  Close
1-June-2011  18527.12  18636.12  18514.66  18608.81    NaN
2-June-2011  18425.85  18540.67  18390.57  18494.18    NaN
3-June-2011  18554.40  18672.65  18345.85  18376.48    NaN
6-June-2011  18344.27  18458.63  18258.42  18420.11    NaN
7-June-2011  18355.30  18545.95  18351.24  18495.62    NaN